:root {
  --black-color: #121417;
  --white-color: #fff;
  --primary-color: #4dc274;
  --accent-color: #38ae5f;
  --secondary-color: #bee8cc;
  --secondary-light-color: #d4fde1;
  --text-color: rgba(18, 20, 23, 0.5);
  --border-color: rgba(18, 20, 23, 0.1);
  --border-hover-color: rgba(77, 194, 116, 0.1);
  --inactive-color: rgba(18, 20, 23, 0.2);
  --light-white-color: rgba(255, 255, 255, 0.7);
  --white-border-color: rgba(255, 255, 255, 0.5);
  --white-text-color: rgba(255, 255, 255, 0.5);
  --border-white-color: rgba(255, 255, 255, 0.1);
  --white-label-color: rgba(255, 255, 255, 0.6);
  --gray-color: #f3f5f6;

  --linear-bg-gradient: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );

  --color-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transform-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --opacity-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
