.about-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 16px;
}

.about-title span {
  position: relative;
}

.about-title span::before {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 30%;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.about-description {
  max-width: 647px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.66;
  text-align: center;
  color: var(--text-color);
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 0;
}

.feature {
  background-color: var(--gray-color);
  border-radius: 16px;
  padding: 32px;

  width: 100%;
  transition: box-shadow 0.3s ease;
}

.feature:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feature-card-title {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--primary-color);
}

.feature-card-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--black-color);
}

.feature img {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
}

.about-image {
  width: 100%;
  height: 313px;
  background-image: url('/img/about/about.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--primary-color);
  background-size: contain;
  border-radius: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .about-image {
    background-image: url('/img/about/about@2x.png');
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .about-image {
    background-image: url('/img/about/about@2x.png');
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (min--moz-device-pixel-ratio: 2),
  (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1),
  (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  .about-image {
    background-image: url('/img/about/about@2x.png');
  }
}

@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min--moz-device-pixel-ratio: 2),
  (min-width: 1280px) and (-o-min-device-pixel-ratio: 2/1),
  (min-width: 1280px) and (min-device-pixel-ratio: 2),
  (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  .about-image {
    background-image: url('/img/about/about@2x.png');
  }
}

@media (min-width: 768px) {
  .features {
    flex-direction: row;
    gap: 32px 32px;
  }

  .about-image {
    height: 243px;
  }

  .about-wrapper {
    gap: 32px 0;
  }

  .feature {
    width: calc((100% - 32px) / 2);
  }
}

@media (min-width: 1280px) {
  .about-image {
    max-width: 310px;
    height: auto;
  }

  .about-wrapper {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 0 32px;
  }
}
