.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  min-width: 295px;
  min-height: 52px;
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: var(--primary-color);
  cursor: pointer;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  font-style: normal;
  color: var(--white-color);

  transition: var(--background-transition);

  .hide {
    display: none;
  }
}

.btn:hover {
  background-color: var(--accent-color);
}

.menu-btn {
  min-width: 32px;
  min-height: 32px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  stroke: var(--black-color);

  svg {
    width: 32px;
    height: 32px;
  }

  &:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    min-width: 40px;
    min-height: 28px;

    svg {
      width: 40px;
      height: 28px;
    }
  }

  .btn {
    font-size: 18px;
    line-height: 1.56;
  }
}

.close-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  min-width: 32px;
  min-height: 32px;
}
