.contact {

}


.contact-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 14px;
}

/*
.contact-title-line {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: var(--secondary-color);
    border-radius: 8px;
    width: 139px;
    height: 12px;
    z-index: -1;
}
*/

.contact-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: rgba(18, 20, 23, 0.8);
}

.contact-info-card {
    display: none;
    background-color: var(--primary-color);
    border-radius: 30px;
    max-width: 492px;
    margin-top: 20px;
    overflow: hidden;
}


.contact-promo {
    margin: 0 auto;
    padding: 0 20px;

}
.contact-card-promo-logo {
}

.contact-promo-title {
    margin-top: 20px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white-color);

}

.contact-promo-description {
    margin-top: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--light-white-color);
}

.contact-form-card {
    margin-top: 20px;
}

.contact-form {

}

.contact-form-field {
    margin-bottom: 18px;
}

.contact-form-input {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 16px 18px;
    width: 100%;
    max-width: 335px;
    height: 50px;
    display: block;
    margin: 0 auto;
    outline: transparent;
    transition: var(--border-transition);
    background-color: transparent;
}

.contact-form-input:focus::placeholder {
    color: var(--text-color);
}

.contact-form-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--black-color);
}

.contact-form-input:focus {
    border-color: var(--primary-color);
}

.contact-form-comment {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 16px 18px;
    width: 100%;
    max-width: 335px;
    resize: none;
    display: block;
    margin: 0 auto;
    outline: transparent;
    transition: var(--border-transition);
    background-color: transparent;
}

.contact-form-comment::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--black-color);

}

.contact-form-comment:focus::placeholder {
    color: var(--text-color);
}

.contact-form-comment:focus {
    border-color: var(--primary-color);
}

.contact-teacher {
    margin-top: 20px;

}
.contact-teacher-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    color: var(--black-color);
}


.teacher-list {
    margin: 0;
    margin-top: 14px;
}

.teacher-list-item {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    color: var(--black-color);
}

.teacher-list-item input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.teacher-item-label {
    padding-left: 28px;
}

.checkmark {
    position: relative;
    display: block;
    top: -20px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primary-color);
}
.teacher-list-item input:checked ~.checkmark {
    border-color: var(--primary-color);
}

.teacher-list-item input:checked ~.checkmark::after {
    display: block ;
}

.btn-send {
    display: block;
    margin: 0 auto;
    border: none;
    text-align: center;
    border-radius: 12px;
    width: 100%;
    min-width: 280px;
    max-width: 500px;
    height: 52px;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-top: 40px;
    transition: var(--background-transition);
  
}

.btn-send:hover, .btn-send:focus {
    background-color: var(--accent-color);
}

.form-agreement-text {
    margin-top: 16px;
}

@media only screen and (min-width: 768px) {

    .contact-title {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 16px;
    }

    .contact-description {
        font-size: 18px;
        line-height: 167%;
        color: var(--text-color)
    }

    .contact-form-card {
        margin: 0 auto;
        margin-top: 64px;
    }
    .contact-form-input {
        max-width: 500px;
    }
    .contact-form-comment {
        max-width: 500px;
    }
    .contact-teacher {
        margin-top: 32px;
        margin: 0 auto;
        max-width: 500px;
    }
    .teacher-list {
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }
    .btn-send {
        margin-top: 32px;
    }
    .form-agreement-text {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 16px;
    }
}


@media only screen and (min-width: 1280px) {
    .contact-title {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 16px;
    }
    .contact-description {
        font-size: 18px;
        line-height: 167%;
        color: var(--text-color)
    }
    .contact-card-wrapper {
        display: flex;
        gap: 32px;
    }
    .contact-card-wrapper {
        margin-top: 64px;
    }
    .contact-form-card {
        margin: 0 auto;
    }
    .contact-info-card {
        display: block;
        margin: 0 auto;
    }
}