.footer {
    background-color: var(--black-color);
    min-height: 605px;
}

.footer > .container {
    padding-top: 40px;
    padding-bottom: 20px;
    min-height: 100%;
}

.footer .footer-group {
    margin-bottom: 40px;
}

.footer .footer-group .logo {
    margin: 0;
}

.footer address {
    color: var(--white-color);
    display: flex;
    row-gap: 16px;
    flex-direction: column;
    margin-top: 20px;
    margin: 20px auto 40px 0;
    letter-spacing: -0.02em;
}

.footer .phone, .footer .address {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.footer .phone-label, .footer .address-label {
    font-weight: 400;
    color: var(--white-label-color);
}

.footer .footer-menu {
    margin: 40px 0;
    row-gap: 20px;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
}

.footer .footer-menu .footer-menu-item,
.footer .address .address-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.28;
    transition: var(--color-transition, --transform-transition);
}

.footer .footer-menu .footer-menu-item:hover,
.footer .footer-menu .footer-menu-item:focus,
.footer .address .address-link:hover,
.footer .address .address-link:focus {
    color: var(--primary-color);
}


.footer .footer-socials {
    justify-content: left;
}

.footer .footer-socials .socials-item {
    width: 42px;
    height: 42px;
}

.footer .socials-item .socials-link {
    border: 1px solid var(--border-white-color);
}

.footer .socials-link:hover,
.footer .socials-link:focus {
    border: 1px solid var(--border-hover-color);
    transition: var(--border-transition);
}

.footer .socials-link:hover .socials-icon,
.footer .socials-link:focus .socials-icon {
    fill: var(--primary-color);
}

.footer .socials-icon {
    fill: var(--white-color);
    transition: var(--icon-transition, --transform-transition);
}
.footer .footer-socials .socials-icon {
    height: 26px;
    width: 26px;
  }

.footer .inner-copyright {
    letter-spacing: -0.02em;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 20px 0;
    color: var(--white-label-color);
    border-top: 1px solid var(--border-white-color);
}

.footer .inner-copyright .group-link-policy {
    display: flex;
    gap: 18px;
}

@media only screen and (min-width: 768px) {
    .footer {
        min-height: 362px;
    }

    .footer > .container {
        padding-top: 32px;
        padding-bottom: 16px;
    }

    .footer .footer-group {
        display: flex;
        align-items: flex-start;

        /* justify-content: space-between; */
    }

    .footer-block {
        display: inline-block;
    }

    .footer address {
        margin-top: 32px;
    }

    .footer-navigation {
        display: inline-flex;
        margin-left: 153px;
    }

    .footer .footer-socials {
        margin-left: 131px;
    }

    .footer .footer-socials .socials-item {
        width: 44px;
        height: 44px;
    }

    .footer .footer-socials .socials-icon {
        height: 28px;
        width: 28px;
    }

    .footer .footer-menu {
        margin: 0;
    }

    .footer .inner-copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0;
        
    }
}

@media only screen and (min-width: 1280px) {
    .footer > .container {
        padding-top: 64px;
        padding-bottom: 23px;
    }

    .footer-navigation {
        margin-left: 314.5px;
    }

    .footer .footer-socials {
        margin-left: 292.5px;
    }
}