.hero {
  background-color: var(--inactive-color);
  background-image: url('/img/hero/mb-hero.jpg');
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 709px;
  position: relative;
  margin-bottom: 80px;
}

.hero-title {
  margin-bottom: 40px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url('/img/hero/mb-hero-2x.jpg');
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px 72px;
  }
}

.btn-hero {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 1px solid transparent;
  font-family: 'Manrope', sans-serif;
  line-height: 171%;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 14px;
  border-radius: 12px;
  padding: 14px;
  width: 100%;
  height: 52px;
  border: none;
  transition: var(--background-transition);
  white-space: nowrap;
}

.btn-accent {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn-accent:focus,
.btn-accent:hover {
  background-color: var(--accent-color);
}

.hero-link-circle {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 990;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  transition: var(--background-transition), var(--transform-transition),
    var(--box-shadow-transition);
}

.hero-link-circle:hover,
.hero-link-circle:focus {
  background-color: var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.hero-link-circle:hover .hero-link-icon,
.hero-link-circle:focus .hero-link-icon {
  animation-play-state: paused;
  fill: var(--white-color);
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}
.hero-link-icon {
  fill: var(--primary-color);
  transition: var(--icon-transition);
  animation: moveUpDown 2s infinite;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url('/img/hero/tb-hero.jpg');
    max-width: 768px;
    height: 857px;
    border-radius: 30px;
    margin-bottom: 100px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url('/img/hero/tb-hero-2x.jpg');
    }
  }

  .hero-container {
    padding: 260px 32px 0;
  }

  .hero-title {
    width: 488px;
    margin-bottom: 32px;
  }

  .hero-link-circle {
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
  }

  .hero-link-icon {
    width: 24px;
    height: 24px;
  }

  .btn-hero {
    font-size: 18px;
    line-height: 156%;
    width: 306px;
    height: 60px;
    padding: 16px 64px;
  }
}

@media screen and (min-width: 1280px) {
  .desc-container {
    padding: 0 64px;
  }

  .hero {
    background-image: url('/img/hero/hero.jpg');
    max-width: 1152px;
    height: 629px;
    margin-bottom: 96px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url('/img/hero/hero-2x.jpg');
    }
  }

  .hero-container {
    padding: 164px 64px 0;
  }

  .hero-title {
    width: 564px;
  }
}
.customAppearing {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
