.logo {
  margin-right: 76px;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-color);

  transition: var(--transform-transition);

  &:hover,
  &:focus {
    transform: scale(1.01);
  }
}
.logo-dark {
  color: var(--black-color);
}
.logo-light {
  color: var(--white-color);
}
