.logo {
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--primary-color);
}
.logo-dark {
  color: var(--black-color);
}
.logo-light {
  color: var(--white-color);
}

@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 138px;
  }
}
