.nav {
  display: flex;
  align-items: center;

  flex-grow: 1;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu-item {
  display: block;
  padding: 24px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

@media screen and (min-width: 1280px) {
  .nav {
    justify-content: space-between;
  }

  .nav-menu-item {
    color: var(--black-color);
  }
}
