.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu-item {
  display: block;
  padding: 24px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

@media screen and (min-width: 1280px) {
  .nav {
    justify-content: space-between;
  }

  .nav-menu-item {
    cursor: pointer;
    color: var(--black-color);
    transition: var(--color-transition, --transform-transition);
    position: relative;
  }

  .nav-menu-item a {
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
    text-decoration: none;
    color: inherit;
  }

  .nav-menu-item a:hover,
  .nav-menu-item a:focus {
    color: var(--primary-color);
    transform: scale(1.02);
  }

  .nav-menu-item a.active::after {
    content: '';
    display: block;
    width: 37px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
  }
}
