.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-menu-item {
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.nav-menu-item a {
  padding: 24px 0;  
}

@media screen and (min-width: 1280px) {
  .nav {
    justify-content: space-between;
  }

  .nav-menu-item {
    cursor: pointer;
    color: var(--black-color);
    position: relative;
  }

  .nav-menu-item a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: var(--color-transition);
  }

  .nav-menu-item a:hover,
  .nav-menu-item a:focus {
    color: var(--primary-color);
  }
  @keyframes scaleRight {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .nav-menu-item a.active::after {
    content: '';
    display: block;
    width: 37px;
    height: 2px;
    position: absolute;
    bottom: 16px;
    left: 0;
    background-color: var(--primary-color);
    animation: scaleRight 0.3s forwards;
    transform-origin: left;
  }
}
