.teachers-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
}

.teachers-title span {
  position: relative;
}

.teachers-title span::before {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: -1;
  width: 104%;
  height: 26%;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.teachers-description {
  max-width: 647px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  color: var(--text-color);
}

.teachers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.teachers-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teachers-img-label {
  display: block;
  cursor: pointer;
}

.video-toggle {
  display: none; /* Сховати чекбокси */
}

.teachers-img {
  position: relative;
  display: block;
}

.teachers-img img {
  border-radius: 50%;
  display: block;
}

.teachers-video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); /* Центрує відео по горизонталі */
  width: 150px; /* Відповідно до розмірів зображення */
  height: 150px; /* Відповідно до розмірів зображення */
  border-radius: 50%;
  object-fit: cover; /* Заповнює область без зміщення співвідношення сторін */
  display: none; /* Сховати відео за замовчуванням */
}

.video-toggle:checked + .teachers-img-label + .teachers-video {
  display: block; /* Показати відео при натисканні на зображення */
}

.teachers-headers {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black-color);
  margin-top: 16px;
  margin-bottom: 8px;
}

.teachers-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--text-color);
}

@media only screen and (min-width: 768px) {
  .teachers-list {
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 32px;
    max-width: 576px;
    margin: 0 auto;
  }

  .teachers-item {
    height: auto;
    width: 272px;
  }

  .teachers-title {
    font-size: 40px;
    line-height: 1.2;
  }

  .teachers-description {
    font-size: 18px;
    line-height: 1.67;
    max-width: 709px;
    margin-bottom: 53px;
  }

  .teachers-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1158px) {
  .teachers-list {
    flex-direction: row;
    column-gap: 32px;
    max-width: unset;
    justify-content: center;
  }

  .teachers-title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.2;
  }

  .teachers-description {
    max-width: 709px;
    margin: 0 auto;
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.67;
  }

  .teachers-item {
    width: 232px;
  }

  .teachers-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
