<section id="about" class="about" data-aos="fade-up">
  <div class="container">

    <h2 class="about-title">About <span class="about-title-span">Us</span></h2>
    <p class="about-description">We are dedicated to providing engaging and effective English language courses in a
      supportive and stimulating learning environment</p>
    <div class="about-wrapper">
      <div class="features">
        <div class="feature">
          <h3 class="feature-card-title">01</h3>
          <p class="feature-card-text">Expert, innovative teaching staff</p>
        </div>
        <div class="feature">
          <h3 class="feature-card-title">02</h3>
          <p class="feature-card-text">Wide range of course levels and options</p>
        </div>
        <div class="feature">
          <h3 class="feature-card-title">03</h3>
          <p class="feature-card-text">Multicultural learning environment</p>
        </div>
        <div class="feature">
          <h3 class="feature-card-title">04</h3>
          <p class="feature-card-text">Comprehensive language support services</p>
        </div>
      </div>

      <div class="about-image"></div>
    </div>
  </div>
  </div>
</section>