<section class="cta">
  <div class="container">
    <div class="content-wrapper rounded-box">
      <h2 class="cta-title">
        Master the <span class="cta-title-highlight">Language</span> with
        Our English Package!
      </h2>
      <div class="rounded-box usp-wrapper typography">
        <p class="usps-description">Power of English</p>
        <div class="usps-list-wrapper">
          <ul class="usps-list">
            <li class="usp-item">
              <div class="ups-icon-wrapper">
                <svg class="usp-icon" width="10" height="8">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="usp-item-description">
                Dive into captivating lessons designed to stimulate your curiosity.
              </p>
            </li>
            <li class="usp-item">
              <div class="ups-icon-wrapper">
                <svg class="usp-icon" width="10" height="8">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="usp-item-description">
                Learn in a nurturing setting where every student's progress matters.
              </p>
            </li>
            <li class="usp-item">
              <div class="ups-icon-wrapper">
                <svg class="usp-icon" width="10" height="8">
                  <use href="./img/sprite.svg#icon-check"></use>
                </svg>
              </div>
              <p class="usp-item-description">
                Experience the satisfaction of real progress as your language skills and confidence grow with every
                session.
              </p>
            </li>
          </ul>
          <picture class="image">
            <source srcset="
                            ./img/cta/books@1x.webp 1x,
                            ./img/cta/books@2x.webp 2x
                          " type="image/webp" />
            <source srcset="
                            ./img/cta/books@1x.png 1x,
                            ./img/cta/books@2x.png 2x
                          " type="image/png" />
            <img src="./img/cta/books@1x.png" alt="Tall books stack" width="214" loading="lazy" />
          </picture>
        </div>
        <button class="btn cta-btn" type="button">Leave an application</button>
      </div>
    </div>
  </div>
</section>