<header class="header">
  <div class="container">
  <loader
      file="partials/logo.html"
      logo-class="logo"
      logo-modifier="logo-dark"
      logo-modifier-point="logo-dark"

    />
    <nav class="nav">
      <ul class="nav-menu">
        <li class="nav-menu-item"><a href="#about">About us</a></li>
        <li class="nav-menu-item"><a href="prices">Our lessons</a></li>
        <li class="nav-menu-item"><a href="teachers">Teachers</a></li>
        <li class="nav-menu-item"><a href="#testimonials">Reviews</a></li>
        <li class="nav-menu-item"><a href="#contact">Contact us</a></li>
      </ul>
      <loader file="partials/socials.html" location="header-socials" />
    </nav>
  </div>
</header>
