<header class="header">
  <div class="container">
  <loader
      file="partials/logo.html"
      logo-class="logo"
      logo-modifier="logo-dark"
      logo-modifier-point="logo-dark"

    />
    <nav class="nav mobile-menu js-mobile-menu" aria-hidden="true">

      <loader
        file="partials/button.html"
        btn-class-name="menu-btn close-menu-btn js-close-menu"
        btn-content=""
        btn-label="Close menu button"
        has-icon="menu-btn-icon"
        icon-path="img/sprite.svg#icon-x"
        controls="mobile-menu"
        is-open=""
      />

      <ul class="nav-menu">
        <li class="nav-menu-item"><a href="#about">About us</a></li>
        <li class="nav-menu-item"><a href="prices">Our lessons</a></li>
        <li class="nav-menu-item"><a href="teachers">Teachers</a></li>
        <li class="nav-menu-item"><a href="#testimonials">Reviews</a></li>
        <li class="nav-menu-item"><a href="#contact">Contact us</a></li>
      </ul>
      <loader file="partials/socials.html" location="header-socials" />
    </nav>

    <loader
      file="partials/button.html"
      btn-class-name="menu-btn js-open-menu"
      btn-content=""
      btn-label="Open menu button"
      has-icon="menu-btn-icon"
      icon-path="img/sprite.svg#icon-nav"
      controls="mobile-menu"
      is-open="false"
    />

  </div>
</header>
