<section class="container desc-container">
  <div class="hero">
  <div class="container hero-container">
    <h1 class="cta-title hero-title">
      Discover the joy of learning <span class="cta-title-highlight">English</span> with us!
    </h1>
    <a href="#contact">
      <button class="btn-hero btn-accent" type="button">Leave an application</button>
    </a>
  </div>
  <a href="#footer-section">
  <span class="hero-link-circle">
    <svg class="hero-link-icon" width="20" height="20">
      <use href="/img/sprite.svg#icon-Vector"></use>
    </svg>
  </span>
  </a>
</div>
</section>