<section class="container desc-container" id="hero-section">
  <div class="hero hero-container">
    <h1 class="cta-title hero-title">
      Discover the joy of learning
      <span class="cta-title-highlight hero-title-highlight">English</span> with
      us!
    </h1>
    <a href="#contact" class="btn-hero btn-accent"> Leave an application </a>
    <a class="hero-link-circle" href="#footer-section">
      <svg class="hero-link-icon" width="20" height="20">
        <use href="/img/sprite.svg#icon-Vector"></use>
      </svg>
    </a>
  </div>
</section>
