<section id="prices" class="prices">
  <div class="container" data-aos="fade-up">
    <div class="our-lessons-wrapper">
      <h2 class="prices-title">Our <span>lessons</span></h2>
      <p class="prices-description">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios
      </p>
    </div>
    <ul class="prices-list">
      <li class="prices-item">
        <h3 class="prices-item-title">Practice</h3>
        <p class="prices-item-price">40$ / month</p>
        <p class="prices-item-description">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a
          href="#contact"
          class="btn btn-prices"
          aria-label="Apply for Practice plan"
          style="min-width: unset"
          >Leave an application</a
        >
      </li>
      <li class="prices-item prices-item-standard">
        <h3 class="prices-item-title">Standard</h3>
        <p class="prices-item-price">70$ / month</p>
        <p class="prices-item-description">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a
          href="#contact"
          class="btn btn-prices btn-prices-inverse"
          aria-label="Apply for Standard plan"
          style="min-width: unset"
          >Leave an application</a
        >
      </li>
      <li class="prices-item">
        <h3 class="prices-item-title">Individual</h3>
        <p class="prices-item-price">99$ / month</p>
        <p class="prices-item-description">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a
          href="#contact"
          class="btn btn-prices"
          aria-label="Apply for Individual plan"
          style="min-width: unset"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
