<ul class="socials {=$location}">
  <li class="socials-item">
    <a
      href="https://www.facebook.com/goITclub/"
      class="socials-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Facebook site"
    >
      <svg class="socials-icon" width="28" height="28">
        <use href="img/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a
      href="https://www.instagram.com/goitclub/"
      class="socials-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Instagram site"
    >
      <svg class="socials-icon" width="28" height="28">
        <use href="img/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="socials-item">
    <a
      href="https://www.youtube.com/c/GoIT"
      class="socials-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Youtube site"
    >
      <svg class="socials-icon" width="28" height="28">
        <use href="img/sprite.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
