<section id="teachers" class="teachers">
  <div class="container" data-aos="fade-up">
    <h2 class="teachers-title">Meet our <span>teachers</span></h2>
    <p class="teachers-description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>

    <ul class="teachers-list">
      <!-- Maria / Teachers -->
      <li class="teachers-item">
        <div class="teacher-image-wrapper">
          <picture class="teachers-img">
            <source
              srcset="
                ./img/teachers/img-1.webp    1x,
                ./img/teachers/img-1@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/teachers/img-1.jpg    1x,
                ./img/teachers/img-1@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/teachers/img-1.jpg"
              alt="Portrait of the teacher"
              width="150"
              height="150"
              loading="lazy"
            />
          </picture>
          <div class="circle"></div>

          <div class="play-button">
            <div class="button is-play">
              <div class="button-outer-circle has-scale-animation"></div>
              <div
                class="button-outer-circle has-scale-animation has-delay-short"
              ></div>
              <div class="button-icon is-play">
                <svg height="100%" width="100%" fill="#fff">
                  <polygon
                    class="triangle"
                    points="5,0 30,15 5,30"
                    viewBox="0 0 30 15"
                  ></polygon>
                  <path
                    class="path"
                    d="M5,0 L30,15 L5,30z"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                  ></path>
                </svg>
              </div>
            </div>
          </div>

          <video class="teachers-video" id="myMovie" preload="none">
            <source src="./img/teachers/video-1.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div>
          <h3 class="teachers-headers">Maria</h3>
          <p class="teachers-text">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>

      <!-- Artem / Teachers -->
      <li class="teachers-item">
        <div class="teacher-image-wrapper">
          <picture class="teachers-img">
            <source
              srcset="
                ./img/teachers/img-2.webp    1x,
                ./img/teachers/img-2@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/teachers/img-2.jpg    1x,
                ./img/teachers/img-2@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/teachers/img-2.jpg"
              alt="Portrait of the teacher"
              width="150"
              height="150"
              loading="lazy"
            />
          </picture>
          <div class="circle"></div>
          <div class="play-button">
            <div class="button is-play">
              <div class="button-outer-circle has-scale-animation"></div>
              <div
                class="button-outer-circle has-scale-animation has-delay-short"
              ></div>
              <div class="button-icon is-play">
                <svg height="100%" width="100%" fill="#fff">
                  <polygon
                    class="triangle"
                    points="5,0 30,15 5,30"
                    viewBox="0 0 30 15"
                  ></polygon>
                  <path
                    class="path"
                    d="M5,0 L30,15 L5,30z"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <video class="teachers-video" preload="none">
            <source src="./img/teachers/video-2.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div>
          <h3 class="teachers-headers">Artem</h3>
          <p class="teachers-text">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>

      <!-- Ilona / Teachers -->
      <li class="teachers-item">
        <div class="teacher-image-wrapper">
          <picture class="teachers-img">
            <source
              srcset="
                ./img/teachers/img-3.webp    1x,
                ./img/teachers/img-3@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/teachers/img-3.jpg    1x,
                ./img/teachers/img-3@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/teachers/img-3.jpg"
              alt="Portrait of the teacher"
              width="150"
              height="150"
              loading="lazy"
            />
          </picture>
          <div class="circle"></div>
          <div class="play-button">
            <div class="button is-play">
              <div class="button-outer-circle has-scale-animation"></div>
              <div
                class="button-outer-circle has-scale-animation has-delay-short"
              ></div>
              <div class="button-icon is-play">
                <svg height="100%" width="100%" fill="#fff">
                  <polygon
                    class="triangle"
                    points="5,0 30,15 5,30"
                    viewBox="0 0 30 15"
                  ></polygon>
                  <path
                    class="path"
                    d="M5,0 L30,15 L5,30z"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <video class="teachers-video" preload="none">
            <source src="./img/teachers/video-3.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div>
          <h3 class="teachers-headers">Ilona</h3>
          <p class="teachers-text">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>

      <!-- Volodymyr / Teachers -->
      <li class="teachers-item">
        <div class="teacher-image-wrapper">
          <picture class="teachers-img">
            <source
              srcset="
                ./img/teachers/img-4.webp    1x,
                ./img/teachers/img-4@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/teachers/img-4.jpg    1x,
                ./img/teachers/img-4@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/teachers/img-4.jpg"
              alt="Portrait of the teacher"
              width="150"
              height="150"
              loading="lazy"
            />
          </picture>
          <div class="circle"></div>
          <div class="play-button">
            <div class="button is-play">
              <div class="button-outer-circle has-scale-animation"></div>
              <div
                class="button-outer-circle has-scale-animation has-delay-short"
              ></div>
              <div class="button-icon is-play">
                <svg height="100%" width="100%" fill="#fff">
                  <polygon
                    class="triangle"
                    points="5,0 30,15 5,30"
                    viewBox="0 0 30 15"
                  ></polygon>
                  <path
                    class="path"
                    d="M5,0 L30,15 L5,30z"
                    fill="none"
                    stroke="#fff"
                    stroke-width="1"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
          <video class="teachers-video" preload="none">
            <source src="./img/teachers/video-4.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <div>
          <h3 class="teachers-headers">Volodymyr</h3>
          <p class="teachers-text">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
