<section id="testimonials" class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">What our <span>students</span> say</h2>
    <p class="testimonials-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <div class="testimonials-authorInfo">
          <img
            srcset="
              ./img/testimonials/img-1@1x.jpg 1x,
              ./img/testimonials/img-1@2x.jpg 2x
            "
            src="./img/testimonials/img-1.jpg"
            alt="Anna - student"
            class="testimonials-authorInfo-avatar"
          />
          <div class="testimonials-authorInfo-wrapper">
            <span class="testimonials-author-name">Anna</span>
            <span class="testimonials-author-position">Student</span>
          </div>
        </div>
        <div class="testimonials-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-authorInfo">
          <img
            srcset="
              ./img/testimonials/img-2@1x.jpg 1x,
              ./img/testimonials/img-2@2x.jpg 2x
            "
            src="./img/testimonials/img-2.jpg"
            alt="Mykhailo - student"
            class="testimonials-authorInfo-avatar"
          />
          <div class="testimonials-authorInfo-wrapper">
            <span class="testimonials-author-name">Mykhailo</span>
            <span class="testimonials-author-position">Student</span>
          </div>
        </div>
        <div class="testimonials-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-authorInfo">
          <img
            srcset="
              ./img/testimonials/img-3@1x.jpg 1x,
              ./img/testimonials/img-3@2x.jpg 2x
            "
            src="./img/testimonials/img-3.jpg"
            alt="Victoria - student"
            class="testimonials-authorInfo-avatar"
          />
          <div class="testimonials-authorInfo-wrapper">
            <span class="testimonials-author-name">Victoria</span>
            <span class="testimonials-author-position">Student</span>
          </div>
        </div>
        <div class="testimonials-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </div>
      </li>
    </ul>
  </div>
</section>
