/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./utils/fonts.css');
@import url('./utils/variables.css');
@import url('./utils/normalize.css');
@import url('./utils/reset.css');
@import url('./base/common.css');
@import url('./components/header.css');
@import url('./components/footer.css');
@import url('./components/about.css');
@import url('./components/contact.css');
@import url('./components/cta.css');
@import url('./components/hero.css');
@import url('./components/prices.css');
@import url('./components/teachers.css');
@import url('./components/testimonials.css');
:root {
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
